html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arvo', serif;
    font-size: 16px
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: inline-flex;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.site-header {
    background-color: rgba(0, 62, 131, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #fff;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fb1;
    text-decoration: none;
}

#card-container {
    background-color: antiquewhite;
    height: 500px;
    display: flex;
}

.card {
    background-color: lightgray;
    width: 50%;
    height: 50%;
}

#t {
    font-weight: bold;
    font-size: xx-large;
    position: sticky;
    left: 1300 px;
}

#t2 {
    font-weight: inherit;
    font-size: large;
    position: sticky;
    left: 1300 px;
}