<nav class="navbar navbar-expand-sm navbar-dark bg-info mb-3">
  <div class="container">
    <div class="sidenav">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/ideas">Página Inicial</a>
        <a href="/about">Sobre a U!</a>
        
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <span style="cursor:pointer" onclick="openNav()">&#9776; </span>

    <a class="navbar-brand" href="/"><img class="logo-nav" alt="Unideia" src="../img/logo-128px.png">Unideia!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
     
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id='navbarDropdownMenuLink'>Ideias de
            Sistemas</a>
          <div class="dropdown-menu">
            <a href="/ideas/myideas" class="dropdown-item">Editar ideias</a>
            <a href="/ideas/add" class="dropdown-item">Compartilhar nova ideia</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Sair</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/login" class="nav-link">Entrar</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link">Cadastre-se</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>


</nav>