<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-5">{{title}}</h1>
  <p class="lead">Compartilhe sugestões e ilumine uma ideia :)</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Adicione uma ideia!</a>
</div>