.logo {
  width: 130px;
  margin: auto;
}

.logo-nav {
  width: 120px;
  margin: auto;
  position: absolute;
  right:1310px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 30px;
}

@media screen and (max-height: 300px) {
.sidenav {padding-top: 30px;}
.sidenav a {font-size: 25px;}
}

body {
  font-family: 'Arvo', serif;
  font-size: 20px
}
.site-header {
  background-color: rgba(0,62,131, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fb1;
  text-decoration: none;
}

#cardb {
  background-color:#777
}

#t {
  font-size: larger;
  position: absolute;
  left: 1300px;  
}
