{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}


<div class="card card-body">
  <h3>Ideia de projeto</h3>
  <form action="/ideas" method="POST">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" name="title" required>
      </div>
      <div class="form-group">
        <label for="details">Detalhes</label>
        <textarea type="text" class="form-control" name="details" required></textarea>
      </div>
      <button type="submit" class="btn btn-info">Enviar</button>
  </form>
</div>