<div class="jumbotron">
  <h3 class="display-4 text-center">{{title}} ao Portal Unideia! :)</h3>
  <p class="lead text-center">Essa é uma aplicação desenvolvida com o objetivo de conectar as ideias nascidas no ambiente
    universitário aos alunos dispostos a colocá-las em prática.</p>
  <hr class="my-4">
  <p>Caso queira contribuir com ideias ou com soluções, clique
    <a href="/users/register">aqui</a> e faça parte dessa iniciativa você também!</p>
</div>