<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/logo-256px.png">
      <h3 class="text-center">Cadastro de novo usuário</h3>
      <form action="/users/register" method="post">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="name" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" name="password" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="password">Confirme a senha</label>
          <input type="password" class="form-control" name="password2" value="{{password2}}" required>
        </div>
        <div class="form-group">
          <label for="profile">Qual seu objetivo?</label>
          <select class="form-control" name="profile" required>
            <option></option>
            <option>Contribuir</option>
            <option>Desenvolver</option>
          </select>
        </div>

        <button type="submit" class="btn btn-outline-primary btn-block mb-1 mt-3">Cadastre-se</button>
      </form>
      <a href="/users/login" role="button" class="btn btn-outline-secondary btn-block">Acesse sua conta</a>
    </div>
  </div>
</div>