<nav class="site-header py-1 sticky-top navbar-expand-sm nav-tabs mb-3">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="col">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn " onclick="closeNav()">&times;</a>
        <a class="navbar-brand" href="/">Bem-vindo</a>
        <a href="/ideas">Início</a>
        <a href="/ideas/myideas">Minhas sugestões</a>
        <a href="#">Projetos adotados</a>
        <a href="/about">Sobre a U!</a>
      </div>

      <span style="font-size:40px;cursor:pointer;width: 100%;text-align: center;line-height: 3;" onclick="openNav()">&#9776;</span>
    </div>
    <div class="col justify-content-center ">
      <a id="t" href="/"><img alt="Unideia" src="/img/logo-128px.png">
        Portal U!</a>
    </div>

    {{#if user}}
    <div class="col-sm-5">
      <a id="t2" class="py-5 d-none mt-2 d-md-inline-block" href=#>Olá, {{{user.name}}} :) </a>
      <a class=" py-5 d-none mt-2 d-md-inline" href="/users/logout">Sair</a>
    </div>
    {{else}}


    <div class="col">
      <a id="t2" class="py-5 d-none mt-2 d-md-inline-block" href="/users/login">Entrar </a> ||
      <a id="t2" class="py-5 d-none d-md-inline-block" href="/users/register">Cadastre-se</a>
    </div>

  </div>


  {{/if}}
  </div>

</nav>